<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Oly'mines</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="/" class="logo"><strong>Oly</strong> <span>mines</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">accueil</a></li>
							<li><a href="/interne">activités internes</a></li>
							<li><a href="/externe">activités externes</a></li>
							<li><a href="/calendrier">calendrier</a></li>
							<li><a href="/boutique">boutique</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="/campagne" class="button primary fit">Campagne</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Oly'mines</h1>
							</header>
							<div class="content">
								<ul class="actions">
									<li><a href="/campagne" class="button next scrolly">Campagne</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section class="tiles">
								<article>
										<header class="major">
										<h3><a href="presentation" class="link">Présentation</a></h3>
										<p></p>
									</header>
								</article>
								<article>
										<header class="major">
										<h3><a href="calendar" class="link">Calendrier</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									<header class="major">
										<h3><a href="interne" class="link">Activités internes</a></h3>
										<p></p>
									</header>
								</article>
								<article>
									  <header class="major">
										<h3><a href="externe" class="link">Activités externes</a></h3>
										<p></p>
									</header>
								</article>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://instagram.com" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>
						</div>
					</footer>

			</div>

			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
