<html>
  <head>
    <title>Chart</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="refresh" content="2" >
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <canvas id="bar-chart" width="1000" height="450"></canvas>
    <script>
      new Chart(document.getElementById("bar-chart"), {
          type: 'bar',
          data: {
            labels: ["Equipe 1", "Equipe 2",  "Equipe 3", "Equipe 4", "Equipe 5", "Equipe 6", "Equipe 7", "Equipe 8", "Equipe 9", "Equipe 10"],
            datasets: [
              {
                label: "Score",
                backgroundColor: ["#2c5be4", "#ece32b","#d61cca","#1cd623","#e72d2d", "#1343cf", "#f8ff08", "#d70ab0", "#12d70a", "#d70a0a"],
                data: [{{ equipe1 }}, {{ equipe2 }},{{ equipe3 }},{{ equipe4 }}, {{ equipe5 }}, {{ equipe6 }}, {{ equipe7 }}, {{ equipe8 }}, {{ equipe9 }}, {{ equipe10 }}]
              }
            ]
          },
          options: {
            label: { display: false },
            legend: { display: false },
            title: {
              display: false,
            },
            animation: {
              duration: 0
            }
          }
      });

    </script>
  </body>
</html>
